<connectionStrings>
	<clear/>
	<add name="KamikazeHungNguyenConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KamikazeHungNguyen;Integrated Security=False;User Id=sa;Password=`1qaz2wsx3edcC;MultipleActiveResultSets=True"/>
</connectionStrings>
